

.main-content-wrapper .single-product-area {
    position: relative;
   z-index: 1;
   -webkit-box-flex: 0; 
    -ms-flex: 0 0 calc(95% - 100px);/* 320 */
   flex: 0 0 calc(95% - 100px);
   width: calc(95% - 100px);
   max-width: calc(95% - 100px); 
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .main-content-wrapper .single-product-area {
        -webkit-box-flex: 0; 
       -ms-flex: 0 0 calc(100% - 100px);
       flex: 0 0 calc(100% - 100px);
       width: calc(100% - 100px);
       max-width: calc(100% - 100px); 
   } 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   .main-content-wrapper .single-product-area {
       -webkit-box-flex: 0;
       -ms-flex: 0 0 calc(100% - 150px);/* 280 */
       flex: 0 0 calc(100% - 150px); 
       width: calc(100% - 150px);
       max-width: calc(100% - 150px); 
   }
}

@media only screen and (max-width: 767px) {
   .main-content-wrapper .single-product-area {
       -webkit-box-flex: 0;
       -ms-flex: 1 1 100%;
       flex: 1 1 100%;
       /* 0 0 100% */
       width: 100%;
       max-width: 100%;
       padding-top: 0;
   }
}

.main-content-wrapper .single-product-area .breadcrumb {
   background-color: transparent;
}

.main-content-wrapper .single-product-area .breadcrumb .breadcrumb-item {
   font-size: 14px;
   text-transform: uppercase;
}

.main-content-wrapper .single-product-area .breadcrumb .breadcrumb-item a {
   color: #242424;
   font-size: 14px;
   text-transform: uppercase;
}

.main-content-wrapper .single-product-area .breadcrumb .breadcrumb-item a:hover {
   color: var(---primary);
}

.main-content-wrapper .single-product-area .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
   content: ">";
}

.main-content-wrapper .single-product-area .single_product_thumb {
   position: relative;
   z-index: 1;
   margin-bottom: 170px;
}


/* --------------------------------------------------------------Carrousel stuff */
.main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators {
   margin: 0 7.5px;
   bottom: -165px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators {
       bottom: -105px;
   }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   .main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators {
       bottom: -105px;
   }
}

@media only screen and (max-width: 767px) {
   .main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators {
       bottom: -95px;
   }
}

.main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators li {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 25%;
   flex: 0 0 25%;
   width: 25%;
   min-width: 25%;
   height: 140px;
   background-position: center center;
   background-size: cover;
   border: 2px solid transparent;
   cursor: pointer;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators li {
       height: 80px;
   }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   .main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators li {
       height: 80px;
   }
}

@media only screen and (max-width: 767px) {
   .main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators li {
       height: 70px;
   }
}

.main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators li.active {
   border: 2px solid var(---primary);
}

.main-content-wrapper .single-product-area .single_product_thumb .carousel-item a {
   cursor: zoom-in;
}

.main-content-wrapper .single-product-area .single_product_desc {
   position: relative;
   z-index: 1;
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .line {
   width: 80px;
   height: 3px;
   background-color: var(---primary);
   margin-bottom: 15px;
   display: block;
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .product-price {
   font-size: 24px;
   font-weight: 400;
   color: var(---primary);
   line-height: 1;
   margin-bottom: 10px;
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data a {
   display: block;
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data a h6 {
   font-size: 30px;
   margin-bottom: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .main-content-wrapper .single-product-area .single_product_desc .product-meta-data a h6 {
       font-size: 20px;
   }
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .ratings-review .ratings i {
   font-size: 10px;
   color: var(---primary);
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .ratings-review .review a {
   display: inline-block;
   color: #6b6b6b;
   font-size: 14px;
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .avaibility {
   margin-bottom: 0;
   font-size: 12px;
   color: #6b6b6b;
   line-height: 1;
}

.main-content-wrapper .single-product-area .single_product_desc .product-meta-data .avaibility i {
   color: #20d34a;
   font-size: 12px;
}

.main-content-wrapper .single-product-area .single_product_desc .short_overview p {
   line-height: 2.1;
   color: #6b6b6b;
}

.main-content-wrapper .single-product-area .single_product_desc .cart p {
   margin-bottom: 0;
   line-height: 40px;
   height: 40px;
   padding: 0 15px;
   background-color: #f5f7fa;
}

.main-content-wrapper .single-product-area .single_product_desc .cart .quantity {
   position: relative;
   z-index: 1;
}

.main-content-wrapper .single-product-area .single_product_desc .cart .quantity input {
   text-align: center;
   background-color: #f5f7fa;
   height: 40px;
   width: 100px;
   border: none;
   -moz-appearance: textfield;
   -webkit-appearance: textfield;
   appearance: textfield;
   color: #959595;
}

.main-content-wrapper .single-product-area .single_product_desc .cart .quantity .qty-plus {
   position: absolute;
   right: 0;
   top: 0;
   line-height: 30px;
   width: 30px;
   text-align: center;
   height: 20px;
   cursor: pointer;
   color: #959595;
}

.main-content-wrapper .single-product-area .single_product_desc .cart .quantity .qty-minus {
   position: absolute;
   top: 21px;
   right: 0;
   line-height: 1;
   width: 30px;
   height: 25px;
   text-align: center;
   cursor: pointer;
   color: #959595;
}


/* ------------------Just button below */
.main-content-wrapper .single-product-area .single_product_desc .cart .product-btn {
   width: 310px;
   height: 80px;
   line-height: 80px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .main-content-wrapper .single-product-area .single_product_desc .cart .product-btn {
       width: 250px;
   }
}



@media only screen and (max-width: 767px) {
   .main-content-wrapper .single-product-area .single_product_desc .cart .product-btn {
       width: 280px;
       /* width: 100%; */
   }
}
:root {

   ---primary: #9ab44b;
   --priamry-alpha: rgba(154, 180, 75, 0.9);
   --secondary: #1b8e45;
   --third: #d9f068;
   --third-alpha: #cae44c;
   /* #cae44c; */



}
/*  */


.product-btn {   
   width: 310px;
height: 80px;
line-height: 80px;

   display: inline-block;
   min-width: 160px;
   height: 55px;
   color: #ffffff;
   border: none;
   border-radius: 0;
   padding: 0 7px;
   font-size: 18px;
   line-height: 56px;
   background-color: var(---primary);
   font-weight: 400; }
   .product-btn.active, .product-btn:hover, .product-btn:focus {
     font-size: 18px;
     color: #ffffff;
     background-color: var(--secondary); }



     .main-content-wrapper .header-area .product-btn-group .product-btn {
      width: 160px;
      display: block; }

      .main-content-wrapper .single-product-area .single_product_desc .cart .product-btn {
         width: 310px;
         height: 80px;
         line-height: 80px; }

         @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .main-content-wrapper .single-product-area .single_product_desc .cart .product-btn {
              width: 250px; } }

              @media only screen and (max-width: 767px) {
               .main-content-wrapper .single-product-area .single_product_desc .cart .product-btn {
                 width: 280px; } }


                 /* line */
                 .single-products-catagory .hover-content .line {
                  width: 80px;
                  height: 3px;
                  background-color: var(---primary);
                  display: block;
                  margin-bottom: 15px; }

                  .single-product-wrapper .product-description .product-meta-data .line {
                     width: 80px;
                     height: 3px;
                     background-color: var(---primary);
                     margin-bottom: 15px;
                     display: block; }

                     .main-content-wrapper .single-product-area .single_product_desc .product-meta-data .line {
                        width: 80px;
                        height: 3px;
                        background-color: var(---primary);
                        margin-bottom: 15px;
                        display: block; }


                        .product-price{
                           color: var(--secondary) !important;
                        }

                        /* ScrollUp */
#scrollUp {
   background-color: var(---primary);
   border-radius: 0;
   bottom: 60px;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
   color: #ffffff;
   font-size: 24px;
   height: 40px;
   line-height: 40px;
   right: 60px;
   text-align: center;
   width: 40px;
   -webkit-transition-duration: 500ms;
   transition-duration: 500ms; }
   #scrollUp:hover {
     background-color: var(--secondary); }
   @media only screen and (max-width: 767px) {
     #scrollUp {
       bottom: 30px;
       right: 30px; } }


       /* carrousel outline */
       .main-content-wrapper .single-product-area .single_product_thumb .carousel-indicators li.active {
         border: 2px solid var(---primary); }



         @font-face {
            font-family: "CooperLightBT";
            src: url("../assets/fonts/CooperLightBT.ttf");
          }
        
        
        .text-brand {
            /* logo (a) */
            font-family: "CooperLightBT" !important;
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 100px;
            color: #152921;
        }
        
        .main-text {
            font-family: "CooperLightBT" !important;
            font-size: 36px;
            font-style: normal;
            font-weight: 200;
            letter-spacing: normal;
            line-height: 39.6px;   
        }
        
        /* h2 */
        * h2, h6 {
            font-family: "CooperLightBT" !important;
            font-size: 38.25px;
            font-style: normal;
            font-weight: 200;
            letter-spacing: normal;
            line-height: 42.0833px
        }
        
        * p{
            font-family: 'Quattrocento Sans', sans-serif !important;
            font-size: 14.45px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 24.5667px;
        }
        
        * a {
            font-family: 'Quattrocento Sans', sans-serif !important;
            font-size: 17.629px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 29.9667px
        
        }
        
        * h4 {
          font-family: "CooperLightBT" !important;
          font-weight: 250;
          letter-spacing: normal;
          line-height: 42.0833px
        }